<div
  class="right-content"
  [ngClass]="{
      'size-right-content-original': (contentService.contentStatus$ | async),
      'size-right-content-change': !(contentService.contentStatus$ | async)
  }">
  <video
    autoplay
    poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/fashion.jpg"
    onloadedmetadata="this.muted=true"
    loop
    class="video_background" #videoPlayer
  >
    <source [src]="'assets/videos/background_shoe_web.webm'"
            type="video/webm">
    <source [src]="'assets/videos/background_shoe_web.mp4'"
            type="video/mp4">
  </video>
 <!-- <div class="content-main"
     [ngClass]="{
       'size-card-content&#45;&#45;original': (contentService.contentStatus$ | async),
       'size-card-content-change': !(contentService.contentStatus$ | async)
    }">
    <div class="container-card-item"
    >
      <div class="card card-item" *ngFor="let i of [1,2,3,4,5, 6, 7, 8, 9, 10]">
        <img class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>-->
  <app-product-carousel>
  </app-product-carousel>
</div>
