<div class="wrap-topic-admin">
  <div  fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="15px">
    <div fxFlex="0 1 calc(100%)" class="header-topic-admin">
      <h1>{{GLOBAL.HEADER.TOPIC_MANAGE}}</h1>
    </div>
    <div fxFlex="1 1 100%" class="body-topic-admin">
      <form [formGroup]="formTopicGroup" (ngSubmit)="onSubmit()" class="form-topic"
            gdAreas="selectGrid empty|
      titleGrid contentGrid |
      seeMoreGrid quoteGrid|
      contentSee contentQuote|
      buttonAccept buttonAccept"
            gdGap="10px">
        <div gdArea="selectGrid">
          <mat-label><small><i>TOPIC</i></small></mat-label>
          <mat-select formControlName="selectedValue" [compareWith]="compareFn" class="select-global topic-selected"
                      (selectionChange)="updateTopicElements()">
            <mat-option *ngFor="let topic of topics" [value]="topic">
              {{topic.title}}
            </mat-option>
          </mat-select>
        </div>

        <div gdArea="titleGrid" *ngIf="addTopicStatus|| editTopicStatus">
          <mat-label><small><i>NAME TOPIC</i></small></mat-label>
          <textarea matInput [attr.disabled]="editTopicStatus  ===  true ? true : null"
                    type="text" placeholder="Chủ đề" formControlName="titleTopic"
                    class="form-control" ></textarea>
        </div>

        <div gdArea="contentGrid" *ngIf="addTopicStatus|| editTopicStatus" >
          <mat-label><small>CONTENT TOPIC</small></mat-label>
          <textarea matInput placeholder="Nội dung chủ đề" formControlName="contentTopic"
                    class="form-control" ></textarea>
        </div>

        <div gdArea="seeMoreGrid" *ngIf="addTopicStatus|| editTopicStatus">
          <mat-label><small><i>LINK</i></small></mat-label>
          <textarea matInput placeholder="Link tham khảo" formControlName="seeLink"
                    class="form-control" ></textarea>
        </div>

        <div gdArea="quoteGrid" *ngIf="addTopicStatus|| editTopicStatus">
          <mat-label><small><i>LINK QUOTE</i></small></mat-label>
          <textarea matInput placeholder="Link trích dẫn" formControlName="quoteLink"
                    class="form-control" ></textarea>
        </div>

        <div gdArea="contentSee" *ngIf="addTopicStatus|| editTopicStatus">
          <mat-label><small><i>CONTENT REFER</i></small></mat-label>
          <textarea matInput placeholder="Nội dung tham khảo" formControlName="seeContent"
                    class="form-control" ></textarea>
        </div>

        <div gdArea="contentQuote" *ngIf="addTopicStatus|| editTopicStatus">
          <mat-label><small><i>CONTENT QUOTE</i></small></mat-label>
          <textarea matInput placeholder="Nội dung trích dẫn" formControlName="quoteContent"
                    class="form-control" ></textarea>
        </div>

        <div gdArea="buttonAccept" *ngIf="addTopicStatus|| editTopicStatus">
          <button class="btn btn-primary" type="submit">
            XÁC NHẬN
          </button>
        </div>
      </form>
    </div>
    <div fxFlex="1 1 100%" class="action-container">
      <div gdAreas="add edit delete">
        <div gdArea="add" class="action-wrap">
          <a mat-flat-button (click)="addTopic()">
            {{GLOBAL.TEXT_ICON_ADD}}<mat-icon>add</mat-icon>
          </a>
        </div>
        <div gdArea="edit" class="action-wrap">
          <a mat-flat-button  (click)="editTopic()">
            {{GLOBAL.TEXT_ICON_EDIT}}<mat-icon>edit</mat-icon>
          </a>
        </div>
        <div gdArea="delete" class="action-wrap">
          <a mat-flat-button  (click)="deleteTopic()">
            {{GLOBAL.TEXT_ICON_DELETE}}<mat-icon>delete</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
