<div fxLayout="row wrap" fxLayout.lt-md="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <div fxFlex="calc(15%-10px)" fxFlex.lt-md="calc(10%-10px)" fxHide.xs class="left-layout">
    <div gdAreas="logo logo|content content" gdRow="auto auto">
      <div gdArea="logo">
        <img [src]="logoIcon" class="image-responsive">
      </div>
      <mat-list gdArea="content" gdAreas="sub_content|sub_icon">
        <app-list-item *ngFor="let item of menuElement" [item]="item"></app-list-item>
      </mat-list>
    </div>
  </div>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex="calc(85%-10px)" fxFlex.lt-md="calc(90%-10px)" fxFlex.xs="100%" class="right-layout">
    <router-outlet></router-outlet>
  </div>
</div>
