<app-header class="toolbar-admin"></app-header>
<div fxLayout="row"  fxLayoutGap="15px" fxLayoutAlign="flex-start">
  <div fxFlex="195px" fxHide.lt-md fxHide-md class="left-layout" style="position: relative; top:70px">
      <mat-list style="position: fixed;width: 175px;">
        <div *ngFor="let item of menuElement">
          <app-list-item  [item]="item" [menuElement]="menuElement"></app-list-item>
          <hr>
        </div>
      </mat-list>
  </div>
  <div  fxFlex-lt.md ="10%" fxHide.gt-md  fxHide.md class="left-layout">
    <button mat-icon-button (click)="onToggleSidenav()" style="position: relative; top:70px">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex="calc(100%-210px)" fxFlex-lt.md ="90%"  class="right-layout" style="position: relative; top:70px">
      <router-outlet></router-outlet>
  </div>
</div>
