.header-content {
  top: 0;
  display: flex;
  position: fixed;
  align-items: center;
  background-size: cover;
  z-index: $zIndexHeader;
  background-repeat: no-repeat;
  min-height: $minHeightHeader;
  background: $backgroundColorHeader;

  .row {
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
  }

}
