<div class="form-login" *ngIf="!(this.adminService.adminStatus$ |async)">
  <div class="title-login">
    <img src="../../../../assets/images/icon.png" alt="ICON NOT FOUND">
  </div>
  <div>
    <h4>Login</h4>
    <form [formGroup]="formLoginGroup" (ngSubmit)="onSubmit()"
          gdAreas="user user |pass pass |remember forget|submitButton submitButton" gdGap="10px"
          gdRows="auto auto auto auto">
      <mat-form-field gdArea="user">
        <input matInput type="text" formControlName="username" class="form-control" placeholder="Username">
        <mat-error *ngIf="(primUsername.invalid && primUsername.touched)|| primUsername.dirty">
          <small *ngIf="primUsername.errors?.required">Vui lòng điền thông tin</small>
        </mat-error>
      </mat-form-field>


      <mat-form-field gdArea="pass">
        <input matInput type="password" formControlName="password" class="form-control" placeholder="Password">
        <mat-error *ngIf="(primPassword.invalid && primPassword.touched) || primPassword.dirty">
          <small *ngIf="primPassword.errors?.required">Vui lòng điền thông tin</small>
        </mat-error>
      </mat-form-field>

      <div gdArea="remember">
        <mat-checkbox formControlName="remember" checked>Remember me</mat-checkbox>
      </div>

      <div gdArea="forget">
        <a href="#" style="float:right"> Forgot password?</a>
      </div>

      <div gdArea="submitButton">
        <button mat-raised-button class="size_button" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>


