a {
  text-decoration: none;
  color: white;
}
a:hover, a:active{
  color: lightgray;
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
mat-toolbar{
  border-radius: 3px;
}
.tic-tac-color-blue{
  background-image: linear-gradient(90deg,#020024 19%, #090c79 47%,#00ccff 97%);
}
.tic-tac-color-green{
  background-image: linear-gradient(90deg, rgba(0,36,1,1) 19%, rgba(22,121,9,0.9850315126050421) 76%, rgba(123,255,0,0.9037990196078431) 95%);
}
.icon-list{
  position: relative;
  top:5px;
  margin:0;
  padding:0;
  border:0;
}
.toolbar-header{
  background-color: #FFFFFF;
  border: 1px solid gainsboro;
  border-radius: 2px;
  padding: 10px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
