<div class="header-wrapper">
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()" *ngIf="!loginStatus">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="image-logo-header">
      <a routerLink="/home"><img [src]="logoIcon"></a>
    </div>

    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let name of menuList">{{name}}</button>
        </mat-menu>
        <li>
          <a [matMenuTriggerFor]="menu">
            Danh mục
          </a>
        </li>

        <li>
          <a routerLink="/posts">Bài viết</a>
        </li>
        <li>
          <a routerLink="/contact">Liên hệ</a>
        </li>
        <li>
          <app-find-component></app-find-component>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</div>

