<div class="container-ng-carousel">
  <ngu-carousel #myCarousel [inputs]="carouselConfig" (onMove)="onmoveFn($event)" [dataSource]="carouselItems" (carouselLoad)="carouselTileLoad($event)">
    <div class="rightRs" NguCarouselNext >
      <span style="color:#eeeeee; transform: rotate(270deg);">
        <mat-icon>navigate_before</mat-icon>
      </span>
    </div>
    <ng-container class="item-container" >
      <ngu-item *nguCarouselDef="let item;" class="item row">
          <div class="col-8">
            <img [src]="item">
          </div>
          <div class="col-4">
              <span class="number-lesson">1</span>
              <span class="name-lesson">MACHINE LEARNING</span>
          </div>
      </ngu-item>
    </ng-container>
    <div class="leftRs" NguCarouselPrev>
      <span style="color:#eeeeee; transform: rotate(90deg);">
        <mat-icon>navigate_before</mat-icon>
      </span>
    </div>
  </ngu-carousel>
</div>
