@import "../../../@theme/variable-style/variable";

.search-header {
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  .slogan {
    font-family: cursive;
  }
  .user-icon-header {
    background: $iconUserHeaderColor;
  }
  .search-icon-header {
    background: $iconSearchHeaderColor;
  }
  .p-inputgroup {
    padding-bottom: 5px;
  }
  .p-lg-4 {
    padding: 1rem !important;
  }
  .p-col-12 {
    padding: 0.5rem !important;
  }
}
