<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="flex-start">
  <ng-container>
    <div fxFlex="calc(45%-20px)" fxFlex.lt-md="calc(50%-20px)" fxFlex.lt-sm="100%">
      <mat-card class="example-card">
        <mat-card-title>{{post}}</mat-card-title>
        <mat-card-content>
          <p>
            {{content}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="calc(55%-20px)"  fxFlex.lt-md="calc(50%-20px)" fxFlex.lt-sm="100%" class="content-compilier">
      <div class="sec-widget widget-compiler" data-widget="4f90006538dd5ad9451ccd05999f590f" >
      </div>
    </div>
  </ng-container>
</div>

