<div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="10px">
  <div fxFlex="1 1 100%">
    <form [formGroup]="formPostGroup" gdAreas="topic topic
      |title title|
      content  content|
      submitButton isSpace"  (ngSubmit)="onSubmit()" class="form-topic">
      <div gdArea="topic">
        <div>
          <mat-label>Topic</mat-label>
          <mat-select formControlName="selectedValue" class="select-global" (selectionChange)="updatePostElements()">
            <mat-option *ngFor="let topic of topics" [value]="topic">
              {{topic.title}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <!-- Add -->
      <div gdArea="title" *ngIf="addPostStatus">
        <mat-label>
          Title Add
        </mat-label>
        <input matInput type="text" formControlName="titleAdd" class="form-control" placeholder="Title">
      </div>
      <div gdArea="content" *ngIf="addPostStatus || editPostStatus">
        <mat-label>
          Content
        </mat-label>
        <textarea  formControlName="content" class="form-control" placeholder="Content"></textarea>
      </div>
      <!-- Edit or Delete-->
      <div gdArea="title" *ngIf="editPostStatus || deletePostStatus===1">
        <mat-label>
          Title Edit
        </mat-label>
        <mat-select formControlName="subSelectValue" class="form-control">
          <mat-option *ngFor="let postItem of copyPostsOfTopics" [value]="postItem">
            {{postItem.title}}
          </mat-option>
        </mat-select>
      </div>
      <button class="btn btn-primary" type="submit">
        Xác nhận
      </button>
    </form>
  </div>


  <div fxFlex="1 1 100%" fxFlex-lt-sm="100%">
    <div gdAreas="add edit delete" class="container-action">
      <div gdArea="add" class="action-wrap">
        <a mat-raised-button (click)="addPost()">
          <mat-icon>add</mat-icon>
        </a>
      </div>
      <div gdArea="edit" class="action-wrap">
        <a mat-raised-button (click)="editPost()">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
      <div gdArea="delete" class="action-wrap">
        <a mat-raised-button (click)="deletePost()">
          <mat-icon>delete</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
