<div id="header-root" class="header-root">
  <header>
    <div class="header-content" [ngClass]="{
              'overwrite-header-content': (testMobileService.testMobileStatus$ | async)
          }">
      <div class="vw-100">
          <app-find></app-find>
      </div>
    </div>
  </header>
</div>

<div id="body-root" class="body-root">
  <app-menu-left class="menu-left-root"></app-menu-left>
  <app-body-root>
    <router-outlet></router-outlet>
  </app-body-root>
</div>
<!--<div id="footerRoot"  class="footer-root">
  <footer>
    <div class="footer-content" [ngStyle]="{height: heightFooter}">
      Hello
    </div>
  </footer>
</div>-->
