@import "../../../@theme/variable-style/variable";

.left-content {
  position: relative;
  height: $contentHeightBody;
  background-color: $backgroundColorLayout;
  top: $distanceTop;
  padding-top: $paddingContent;

  .menu-left {
    span {
      float: left;
      width: 100%;
      top: 0.5rem;
      display: flex;
      cursor: pointer;
      position: relative;
      justify-content: flex-end;
      z-index: $zIndexMenuLeft;
      margin-left: 20px;

      img {
        height: 14px;
        right: 0.05rem;
      }
    }

    .side-nav-left {
      left: 0;
      display: flex;
      transition: 0.5s;
      overflow-x: hidden;
      padding: 10px;

      b {
        font-size: $fontSizeMenuLeftPC;
      }
      .col-3, .col-9, .col-12 {
        padding-right: 0;
        padding-left: 0;
      }
      div > div > div {
        align-items: center;
        justify-content: center;
      }
      .center-item-menu {
        justify-content: center;
      }
      b {
        text-align: center;
      }
    }
  }
}

.display-menu-left {
  display: none;
}

