.left-content {
  position: relative;
  border-right: 0.1rem solid #6c757d;

  .menu-left {
    span {
      float: left;
      width: 100%;
      top: 0.5rem;
      display: flex;
      font-size: 15px;
      cursor: pointer;
      position: relative;
      justify-content: flex-end;

      img {
        height: 14px;
        right: 0.05rem;
      }
    }

    .side-nav-left {
      top: 13vh;
      left: 0;
      display: flex;
      position: fixed;
      transition: 0.5s;
      overflow-x: hidden;
      .col-3, .col-9, .col-12 {
        padding-right: 0;
        padding-left: 0;
      }
      div > div > div {
        align-items: center;
        justify-content: center;
      }
      .center-item-menu {
        justify-content: center;
      }
      b {
        text-align: center;
      }
    }
  }
}

.display-menu-left {
  display: none;
}

.size-menu-left-change {
  width: 3.5vw !important;
}

.size-menu-left-original {
  width: 9vw !important;
}

