.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: url("../../../../assets/banner/My Post.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 10vh;
  width: 100vw;
  .row {
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
  }

}
