.header-content {
  display: flex;
  align-items: center;
  background: linear-gradient(-180deg , #2d87f5, #333dff);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 8vh;
  width: 100vw;
  .row {
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
  }

}
