<div class="container mr-0 ml-0 pl-0 pr-0">
    <div class="app__content">
        <div>
            <app-collapse-group [multiple]="false">
                <app-collapse-item [selected]="false"
                                   [numberWordShow]=80
                                   [numberDotContent]=10
                                   [content]=""
                                   [isFromItem]="true" *ngIf="isFrom">
                    <div slot="show">
                        <ng-content></ng-content>
                    </div>
                </app-collapse-item>
                <app-collapse-item [selected]="false"
                                   [numberWordShow]=80
                                   [numberDotContent]=10
                                   [content]="contentDesc"
                                   [isFromItem]="false"
                                   *ngIf="!isFrom"
                >
                </app-collapse-item>
            </app-collapse-group>
        </div>
    </div>
</div>
