<div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="10px" fxLayout.lt-sm="column">
  <div fxFlex="calc(75%-10px)" fxFlex-lt-sm="100%">
    <form [formGroup]="formTopicGroup" (ngSubmit)="onSubmit()" class="form-topic"
      gdAreas="selectGrid selectGrid selectGrid selectGrid|titleGrid titleGrid contentGrid contentGrid|seeMoreGrid seeMoreGrid quoteGrid quoteGrid| contentSee contentSee contentQuote contentQuote|buttonAccept buttonAccept buttonAccept buttonAccept"
      gdGap="10px" gdRows="auto auto auto auto auto ">
      <div gdArea="selectGrid">
        <mat-label><small>Topic</small></mat-label>
        <mat-select formControlName="selectedValue" [compareWith]="compareFn" class="select-global"
          (selectionChange)="updateTopicElements()">
          <mat-option *ngFor="let topic of topics" [value]="topic">
            {{topic.title}}
          </mat-option>
        </mat-select>
      </div>

      <div gdArea="titleGrid" *ngIf="addTopicStatus|| editTopicStatus">
        <textarea matInput [attr.disabled]="editTopicStatus  ===  true ? true : null"  type="text" placeholder="Chủ đề" formControlName="titleTopic" class="form-control" ></textarea>
      </div>

      <div gdArea="contentGrid" *ngIf="addTopicStatus|| editTopicStatus" >
        <textarea matInput placeholder="Nội dung chủ đề" formControlName="contentTopic" class="form-control" ></textarea>
      </div>

      <div gdArea="seeMoreGrid" *ngIf="addTopicStatus|| editTopicStatus">
        <textarea matInput placeholder="Link tham khảo" formControlName="seeLink" class="form-control" ></textarea>
      </div>

      <div gdArea="quoteGrid" *ngIf="addTopicStatus|| editTopicStatus">
        <textarea matInput placeholder="Link trích dẫn" formControlName="quoteLink" class="form-control" ></textarea>
      </div>

      <div gdArea="contentSee" *ngIf="addTopicStatus|| editTopicStatus">
        <textarea matInput placeholder="Nội dung tham khảo" formControlName="seeContent" class="form-control" ></textarea>
      </div>

      <div gdArea="contentQuote" *ngIf="addTopicStatus|| editTopicStatus">
        <textarea matInput placeholder="Nội dung trích dẫn" formControlName="quoteContent" class="form-control" ></textarea>
      </div>

      <div gdArea="buttonAccept" *ngIf="addTopicStatus|| editTopicStatus">
        <button mat-raised-button type="submit">
          Hoàn thành
        </button>
      </div>



    </form>
  </div>
  <div fxFlex="calc(25%-10px)" fxFlex-lt-sm="100%">
    <div gdAreas="event" gdRows="auto">
      <mat-label><small>Event</small></mat-label>
      <a mat-raised-button (click)="addTopic()">
        <mat-icon>add</mat-icon>
      </a>
      <a mat-raised-button (click)="editTopic()">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-raised-button (click)="deleteTopic()">
        <mat-icon>delete</mat-icon>
      </a>
    </div>
  </div>

</div>
