::ng-deep .owl-carousel {
  margin-bottom: 2rem;
  .owl-prev, .owl-next {
    position: absolute;
    border-radius: 0;
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border: 1px white solid;
    font-size: 10px;
    font-weight: 700;

    div {
      width: 100%;
    }

    svg {
      height: auto;
      width: 18px;
      padding-bottom: 2px;
    }

    .btn {
      border-radius: 0;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .owl-prev {
    left: 0;
  }

  .owl-nav [class*='owl-'] {
    margin-left: 0;
    margin-right: 0;
  }
  .owl-next {
    right: 0;
  }

  @import "product-carousel-card.component";

  @media only screen and (max-width: 728px) {
    .owl-carousel {
      .owl-prev, .owl-next {
        font-size: 8px;
        font-weight: 450;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 10px;
        }

        .btn {
          font-size: 7px;
          font-weight: 350;
          width: auto;
        }

      }
    }
  }
  .card-body {
    .element-buy-products {
      display: flex;
      justify-content: space-between;
    }
  }
}

::ng-deep owl-carousel-child {
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
