<owl-carousel [options]="customOptionsLeft"
              #owlElement
              id="owl-demo"
              [carouselClasses]="['owl-theme', 'row', 'sliding']"
>
  <div class="item" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10];let i = index">
    <div class="card">
      <div class="card-img-top-carousel" gdAreas="header|image">
        <div class="view-buy-carousel" gdArea="header">
          <span>View: 10</span>
          <span>Buy: 9</span>
        </div>
        <div gdArea="image">
          <img src="../../../../assets/images/carousel-image-default.png" alt="Image not found">
        </div>
      </div>
      <div class="card-body">
        <div class="content-card" gdAreas="
            name name name|
            size valueSize valueSize|
            color valueColor valueColor|
            price valuePrice valuePrice|
            brand valueBrand valueBrand"
             gdGap="2vh"
        >
          <!--Name-->
          <div gdArea="name" class="products-name">
            <span>Shoes Nike Nike Nike Nike Nike Nike Nike Nike</span>
          </div>
          <!--Size-->
          <div gdArea="size">
            <span>Size:</span>
          </div>
          <div gdArea="valueSize">
                <span *ngFor="let numberSize of [36, 37, 38, 39, 40]">
                    {{numberSize}}
                </span>
          </div>
          <!-- Color -->
          <div gdArea="color">
            Color:
          </div>
          <div gdArea="valueColor" class="products-color">
            <ul>
              <li>
                <label>
                  <input type="radio" name="color" value="black">
                  <span class="swatch" style="background-color:#222"></span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="color" value="blue">
                  <span class="swatch" style="background-color:#6e8cd5"></span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="color" value="green">
                  <span class="swatch" style="background-color:#44c28d"></span>
                </label>
              </li>
            </ul>
          </div>
          <!--Price-->
          <div gdArea="price">
            <span>Price:</span>
          </div>
          <div gdArea="valuePrice">
                <span>
                  22,453$
                </span>
          </div>
          <!--Brand-->
          <div gdArea="brand">
            <span>Brand:</span>
          </div>
          <div gdArea="valueBrand">
                <span>
                  Nike
                </span>
          </div>
        </div>
      </div>
      <div  class="card-footer">
        <div class="rate">
          <input type="radio" id="star5_item5" name="rate" value="5"/>
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4_item5" name="rate" value="4"/>
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3_item5" name="rate" value="3"/>
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2_item5" name="rate" value="2"/>
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1_item5" name="rate" value="1"/>
          <label for="star1" title="text">1 star</label>
        </div>
      </div>
    </div>
  </div>
</owl-carousel>



