::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: unset;
}

button {
  cursor: pointer
}

.confirm-dialog {
  max-width: 700px !important;
  min-width: 100px !important;

  .header-confirm {
    padding: 0.5em;
    color: white;
    display: flex;
    border-bottom: 0.1rem solid gainsboro;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .mat-dialog-title {
      margin: 0;
      color: #000;
      font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
      padding-left: 0.5rem;
    }

    .close-button-dialog {
      padding: 0;
      margin: 0;
      outline: none;
      color: #000;
      border: 0;
      border-radius: 50%;
    }

    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
      line-height: 0;
      min-width: 0;
    }
  }

  .mat-dialog-custom .mat-dialog-content {
    background-color: #ffffff;
    color: #333333;
    margin: auto;
    overflow: unset;
    padding: 0;
  }

  .mat-dialog-custom {
    .mat-dialog-content {
      .body-dialog-custom {
        .row {
          padding: 1em 1em 1em 2em;
        }

        border: 2px solid #edf1f7;
      }
    }
  }

  .mat-dialog-custom {
    .mat-dialog-content {
      .mat-dialog-actions {
        padding-right: 1em;
        padding-bottom: 0.5em;

        .btn-save-actions {
          background-color: #007ad9;
          color: white;
          border: 0.5px solid #007ad9;
          border-radius: 2px;

          nb-icon {
            font-size: 1rem
          }

          padding: 4px;
          width: 100px;
        }

        .btn-save-actions:hover {
          background-color: #319def;
        }

        .btn-cancel-actions {
          background-color: #f5f4f4;
          margin-right: 5px;
          border: 0.5px solid #f5f4f4;
          border-radius: 2px;

          nb-icon {
            font-size: 1rem
          }

          padding: 4px;
          width: 120px;
        }

        .btn-cancel-actions:hover {
          background-color: white;
        }
      }
    }
  }
}
