html, body {
  margin: 0;
  height: 100%;
}

.select-global{
  margin: 0 auto;
  border: 1px solid beige;
  padding:10px

}
@import '~bootstrap/scss/bootstrap';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
