@import "../../../@theme/variable-style/variable";

.container-layout-products {
  display: flex;
  justify-content: center;
  position: fixed;
  margin: auto;
  overflow: auto;
  height: $contentHeightBody;
  top: $distanceTop;
  background-color: $backgroundColorLayout;
  padding-top: $paddingContent;
}
::-webkit-scrollbar {
  width: 0
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}
